Flask-Caching==2.0.1
Flask-Cors>=3.0.10
Flask-DebugToolbar==0.13.*
Flask-Migrate>=3.1.0
Flask-Script>=2.0.6
Flask-SQLAlchemy==2.5.1
Flask==2.1.3
PyJWT>=2.3.0
cryptography==42.0.4
pycryptodome
mysqlclient==2.1.1
PyMySQL>=1.0.2
SQLAlchemy==1.4.26
alembic>=1.7.4
marshmallow>=3.14.0
werkzeug==2.0.3
canvasapi
boto3==1.26.*
botocore==1.29.*
git+https://github.com/ucfopen/pylti1.3.git@master#egg=PyLTI1p3
pyotp
qrcode
apscheduler
pre-commit
flasgger
