<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
{#      <meta name="csrf-token" content="{{ csrf_token() }}" />#}

    <title>{{ page_title }}</title>
    <script>
      var launchId = "{{ launch_id }}";
    </script>

    <link
      href="{{ url_for('static', filename='css/main.3677d495.css') }}"
      rel="stylesheet"
    />
  </head>
  <body>
    <div id="root"></div>
    <script
      type="text/javascript"
      src="{{ url_for('static', filename='js/main.c198d859.js') }}"
      charset="utf-8"
    ></script>
  </body>
</html>
